a {
  text-decoration: none;
}
button {
  border-color: aliceblue;
  margin: 0 auto;
}
.card {
  margin: 1% 5%;
}
.current-location {
  margin: 0 auto;
  background-color: antiquewhite;

  border-radius: 50px;
}

.current-city,
.current-temperature {
  font-size: 40px;
}
.footer {
  display: table;
  margin: 0 auto;
}

#celsiusUnit,
#fahrenheitUnit,
#unitSeperator {
  font-size: 20px;
  vertical-align: top;
}
