a {
  text-decoration: none;
}
button {
  font-size: 5px;
}
.card {
  margin: 30px auto;
  max-width: 1000px;
}

/* .current-location {
  margin: 0 auto;
  background-color: antiquewhite;

  border-radius: 50px;
} */

.current-city,
.current-temperature {
  font-size: 40px;
}

.footer {
  display: table;
  margin: 0 auto;
}
#description {
  text-transform: capitalize;
}

#celsiusUnit,
#fahrenheitUnit,
#unitSeperator {
  font-size: 20px;
  vertical-align: top;
}
