a {
  text-decoration: none;
}

div {
  font-size: 15px;
}

.card {
  margin: 30px auto;
  max-width: 1000px;
}

/* .current-location {
  margin: 0 auto;
  background-color: antiquewhite;

  border-radius: 50px;
} */

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

.current-city,
.current-temperature {
  font-size: 30px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.footer {
  display: table;
  margin: 0 auto;
}

#current-city-weather-icon {
  max-width: 30%;
}

#currentTempComponents {
  padding-top: 30px;
}

#description {
  text-transform: capitalize;
}

#celsiusUnit,
#fahrenheitUnit,
#unitSeperator {
  font-size: 20px;
  vertical-align: top;
}
